/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* Generelle ændringer */
:root {
  --dark-grey-color: #DEE0E1;
  --CTA-blue-color: #039BE5;
  --light-blue-color: #E8F0FE;
  --blue-color: #1A73E8;
  --white-color: #fff;
  --code-editor: #F1F3F4;
  --black-color: #000;
}

button {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

body {
  background-color: var(--light-blue-color);
}

h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
}

p, h3, h4, h2, .settingsMenu a, strong {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: var(--black-color);
}

input {
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.CTA {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: var(--CTA-blue-color);
  border-radius: 20px;
  margin: 20px 20px 20px 0;
  border: 1px solid black;
  padding: 8px 13px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

/* Top navigation */
#topnav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  min-height: 10%;
  background-color: var(--CTA-blue-color);
}

#topnav section {
  display: flex;
}

#topnav img {
  margin: 0 30px;
  max-height: 2rem;
  cursor: pointer;
}

#topnav .newLetterUL:hover .newLetteWindow {
  display: block;
}

#topnav .themeUL:hover .settingsMenu {
  display: block;
}

.settingsMenu, .newLetteWindow {
  display: none;
  position: fixed;
  z-index: 3;
  right: 30px;
  background-color: var(--light-blue-color);
  padding: 20px;
}

.newLetteWindow {
  text-align: center;
}

.settingsMenu a {
  display: block;
  text-decoration: none;
  margin: 10px 0;
}

.settingsMenu a:hover {
  text-decoration: underline;
}

/* Side navigation */
#sidenav {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 10%;
  bottom: 0;
}

#sidenav a {
  display: block;
  background-color: var(--white-color);
  text-decoration: none;
  color: var(--black-color);
  padding: 20px;
  min-width: 300px;
  border-top: 1.5px solid var(--dark-grey-color);
  border-bottom: 1.5px solid var(--dark-grey-color);
}

#sidenav .active {
  background-color: var(--light-blue-color);
  color: var(--blue-color);
}

#sidenav a:hover {
  background-color: var(--light-blue-color);
}

.scroll {
  background: var(--light-blue-color);
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Kursus indhold */
.site_content {
  position: absolute;
  left: 350px;
  top: 10%;
}

main {
  margin: 30px 20px;
  background-color: var(--white-color);
  padding: 50px;
  -webkit-box-shadow: 5px 5px 5px -3px #000000;
  box-shadow: 5px 5px 5px -3px #000000;
}

.iframe_holder {
  display: flex;
  justify-content: space-between;
}

.prettyprint {
  background-color: var(--code-editor) !important;
}

.themePicker, .game {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.themePickerContent, .game_content {
  background-color: var(--dark-grey-color);
  cursor: default;
  min-width: 30%;
  min-height: 20%;
  padding: 30px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.themePickerContent div {
  margin: 15px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: .1px solid black;
}

#darkTheme {
  background-color: #2d2d2d;
}

#dafaultTheme {
  background-color: #1A73E8;
}

#greenTheme {
  background-color: #1E7E34;
}

#greyTheme {
  background-color: grey;
}

#darkTheme p, #dafaultTheme p, #greenTheme p {
  color: #f2f2f2;
}

.game_content img {
  max-height: 500px;
  display: block;
}

.inner_game {
  text-align: center;
}

.inner_game div {
  display: flex;
  justify-content: center;
  align-items: center;
}
